# Ex2 - Getting and Knowing your Data

This time we are going to pull data directly from the internet.
Special thanks to: https://github.com/justmarkham for sharing the dataset and materials.

### Step 1. Import the necessary libraries

In [145]:
import pandas as pd

### Step 2. Import the dataset from this [address](https://raw.githubusercontent.com/justmarkham/DAT8/master/data/chipotle.tsv).

### Step 3. Assign it to a variable called chipo.

In [146]:
chipo = pd.read_table("https://raw.githubusercontent.com/justmarkham/DAT8/master/data/chipotle.tsv",delimiter='\t')

### Step 4. See the first 10 entries

In [147]:
print(chipo[:10])

   order_id  quantity                              item_name  \
0         1         1           Chips and Fresh Tomato Salsa
1         1         1                                   Izze
2         1         1                       Nantucket Nectar
3         1         1  Chips and Tomatillo-Green Chili Salsa
4         2         2                           Chicken Bowl
5         3         1                           Chicken Bowl
6         3         1                          Side of Chips
7         4         1                          Steak Burrito
8         4         1                       Steak Soft Tacos
9         5         1                          Steak Burrito

                                  choice_description item_price
0                                                NaN     $2.39
1                                       [Clementine]     $3.39
2                                            [Apple]     $3.39
3                                                NaN     $2.39
4  [Tomatillo-Red Chili Salsa (Hot), [Black Beans...    $16.98
5  [Fresh Tomato Salsa (Mild), [Rice, Cheese, Sou...    $10.98
6                                                NaN     $1.69
7  [Tomatillo Red Chili Salsa, [Fajita Vegetables...    $11.75
8  [Tomatillo Green Chili Salsa, [Pinto Beans, Ch...     $9.25
9  [Fresh Tomato Salsa, [Rice, Black Beans, Pinto...     $9.25

### Step 5. What is the number of observations in the dataset?

In [148]:
# Solution 1
row_count_solution_1 = len(chipo)
print(row_count_solution_1)

4622

In [149]:
# Solution 2
row_count_solution_2 = chipo['order_id'].count()
print(row_count_solution_2)

4622

### Step 6. What is the number of columns in the dataset?

In [150]:
columns_count = len(chipo.columns)
print(columns_count)

5

### Step 7. Print the name of all the columns.

In [151]:
print(chipo.columns)

Index(['order_id', 'quantity', 'item_name', 'choice_description',
       'item_price'],
      dtype='object')

### Step 8. How is the dataset indexed?

In [152]:
chipo.index

RangeIndex(start=0, stop=4622, step=1)

### Step 9. Which was the most-ordered item?

In [153]:
chipo['item_name'].value_counts().nlargest(1)

item_name
Chicken Bowl    726
Name: count, dtype: int64

### Step 10. For the most-ordered item, how many items were ordered?

In [154]:
items = 0
for row in chipo.index:
    if chipo['item_name'][row] == 'Chicken Bowl':
        items += chipo['quantity'][row]
print(items)

761

### Step 11. What was the most ordered item in the choice_description column?

In [185]:
#explode nie działa, tutaj skorzystałem z pomocy
c = chipo.groupby('choice_description').sum()
c = c.sort_values(['quantity'], ascending=False)
c.head(1)


#print(chipo.explode(list('choice_description')))

,order_id,quantity,item_name,item_price,revenue
choice_description,,,,,
[Diet Coke],123455,159,Canned SodaCanned SodaCanned Soda6 Pack Soft D...,326.71,408.41

### Step 12. How many items were orderd in total?

In [156]:
total_orders = chipo['quantity'].sum()
print(total_orders)

4972

### Step 13. Turn the item price into a float

#### Step 13.a. Check the item price type

In [157]:
result = chipo['item_price'].dtype
print(result)

object

#### Step 13.b. Create a lambda function and change the type of item price

In [158]:
def change_item(a):    
    return float((lambda a : a[1:-1])(a))
    
chipo['item_price']=chipo['item_price'].apply(change_item)
print(chipo)

      order_id  quantity                              item_name  \
0            1         1           Chips and Fresh Tomato Salsa
1            1         1                                   Izze
2            1         1                       Nantucket Nectar
3            1         1  Chips and Tomatillo-Green Chili Salsa
4            2         2                           Chicken Bowl
...        ...       ...                                    ...
4617      1833         1                          Steak Burrito
4618      1833         1                          Steak Burrito
4619      1834         1                     Chicken Salad Bowl
4620      1834         1                     Chicken Salad Bowl
4621      1834         1                     Chicken Salad Bowl

                                     choice_description  item_price
0                                                   NaN        2.39
1                                          [Clementine]        3.39
2                                               [Apple]        3.39
3                                                   NaN        2.39
4     [Tomatillo-Red Chili Salsa (Hot), [Black Beans...       16.98
...                                                 ...         ...
4617  [Fresh Tomato Salsa, [Rice, Black Beans, Sour ...       11.75
4618  [Fresh Tomato Salsa, [Rice, Sour Cream, Cheese...       11.75
4619  [Fresh Tomato Salsa, [Fajita Vegetables, Pinto...       11.25
4620  [Fresh Tomato Salsa, [Fajita Vegetables, Lettu...        8.75
4621  [Fresh Tomato Salsa, [Fajita Vegetables, Pinto...        8.75

[4622 rows x 5 columns]

#### Step 13.c. Check the item price type

In [159]:
result = chipo['item_price'].dtypes
print(result)

float64

### Step 14. How much was the revenue for the period in the dataset?

In [160]:
revenue = 0
for row in chipo.index:
    revenue += chipo['quantity'][row]*(chipo['item_price'][row])
print(revenue)

39237.020000000055

### Step 15. How many orders were made in the period?

In [161]:
orders = chipo.order_id.value_counts().count()
print(orders)

1834

### Step 16. What is the average revenue amount per order?

In [162]:
# Solution 1
chipo['revenue'] = chipo['quantity'] * chipo['item_price']
chipoo = chipo.groupby('order_id').sum()
chipoo  = chipoo['revenue'].mean()
print(chipoo)

21.39423118865867

In [163]:
# Solution 2
v2=chipo['revenue'].sum()/orders
print(v2)

21.39423118865867

### Step 17. How many different items are sold?

In [164]:
items = chipo.item_name.value_counts().count()
print(items)

50